# python binaries
*.pyc
bin/
/*/bin
.cache/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# virtual environment
venv

# vim swap files
*.swp

# IDEA:
.idea/*
**.iml
**.iml

# setup and build
**/build/
**/dist/
**/pyincore-data.egg-info/

# VSCODE
.vscode

# EGG info
pyincore_data.egg-info

# IDEA - generated artifacts
**/out/

# Apple metadata
**/.DS_Store

# incore pw file
tests/.incorepw

# download data or test data
tests/data/
cache_data/
original/

# env file
*.env

# EddyPro proj file
*.eddypro

# jupyter notebook checkpoints folder
.ipynb_checkpoints

# jupyter notebook
.user

# possible output file
*.csv
*.jpg
*.jpeg
*.png
*.gif
*.dbf
*.fix
*.prj
*.qix
*.shp
*.shx
*.html
*.xlsx
*.metadata
*.zip
*.old
*.nc
*.env*
*.tmp
*.ghg

# related to test file
*test.py
*test.ipynb

# examples
*examples

# pyfluxpro
*L1.txt
*L2.txt

# generated folder
*/generated/

# template folder
*/templates/
